#todo-list li .edit {
  display: inline;
}

.app-content {
    margin: 5%
}

.app-content > .todolist, .app-content > .add-new-list {
    padding: 15px;
}

.todolist .todo-item {
    cursor: pointer;
}

.todolist .active {
    min-height: 70px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}